script "katsonis"
{
    start group "global";
    wait ms 2000;
    start group "sensors";
    #start group "control";
}





group "global"
{
    cmd "bot-param-server" 
    {
        exec = "bot-param-server /home/auv/git/acfr_lcm/config/katsonis.cfg";
        host = "katsonis";
    }

#    cmd "lcm tunnel" 
#    {
#        exec = "bot-lcm-tunnel";
#        host = "katsonis";
#    }
    
    cmd "heartbeat" 
    {
        exec = "heartbeat";
        host = "katsonis";
    }
}


group "control"
{
    cmd "rov-contol" 
    {
        exec = "rov-control";
        host = "katsonis";
    }
}

group "sensors"
{
    cmd "micron-sounder" 
    {
        exec = "micron-sounder";
        host = "katsonis";
    }

    cmd "seabotix-interface" 
    {
        exec = "seabotix-interface";
        host = "katsonis";
    }

}

