script "glider"
{
    start group "global";
    wait ms 2000;
    start group "sensors";
}


group "global"
{
    cmd "bot-param-server" 
    {
        exec = "bot-param-server /home/auv/git/acfr_lcm/config/glider.cfg";
        host = "glider";
    }

    cmd "lcm tunnel" 
    {
        exec = "bot-lcm-tunnel";
        host = "glider";
    }
    
    cmd "heartbeat" 
    {
        exec = "heartbeat";
        host = "glider";
    }
}

group "sensors"
{
    cmd "gpsd3-client"
    {
	exec = "gpsd3-client";
	host = "glider";
    }

    cmd "evologics-extended" 
    {
        exec = "evologics-extended";
        host = "glider";
    }

    cmd "evologics-modem" 
    {
        exec = "evologics-modem";
        host = "glider";
    }

    cmd "evologics-usbl" 
    {
        exec = "evologics-usbl";
        host = "glider";
    }

    cmd "evologics-ahrs" 
    {
        exec = "evologics-ahrs";
        host = "glider";
    }

    cmd "gpsd-ahrs-munge" 
    {
        exec = "gpsd-ahrs-munge";
        host = "glider";
    }


    #cmd "waveglider-payload"
    #{
    #    exec = "waveglider-payload";
    #    host = "glider";
    #}

}

