sensors {
    gpsd3-client {
        gsd {
            io = "none";
            channel = "GPSD_CLIENT";
        }
        gpsddev="/dev/ttyS9";
    }
        
    ysi {
    	gsd {
            io = "serial";
            device = "/dev/ttyUSB4";
            baud = 9600;
            parity = "8N1";
            channel = "YSI";
        }
    }
    tcm {
    	gsd {
            io = "serial";
            device = "/dev/ttyUSB5";
            baud = 38400;
            parity = "8N1";
            channel = "TCM";
        }
    }

    os-compass {
    	gsd {
            io = "serial";
            device = "/dev/ttyUSB6";
            baud = 19200;
            parity = "8N1";
            channel = "OS_COMPASS";
        }
    }

    rdi {
        gsd {
            io = "serial";
            device = "/dev/ttyUSB2";
            baud   = 19200;
            parity = "8N1";
            channel = "RDI";
        }
	mode = "PD5";
	pd5_count_max = 5;
	pd0_count_max = 1;

    } #rdi
    
    os-power-system
    {
        io = "serial";
        num_devs = 1;
        serial_devs = ["/dev/ttyS8"];
        baud = 19200;
        parity = "8N1";
    }

} #sensors


cameras {
    cam1 {
        uid = 124089; #id for iver GC1380C (colour)
        channel = "PROSILICA_FC16";
        #attfile = "../config/prosilica/attfile.txt";
        PvAttributes {
            FrameStartTriggerMode = "SyncIn2";
    	    FrameStartTriggerDelay = "4000";
            #FrameStartTriggerMode = "FixedRate";
            FrameRate = "4.0";
            
            # FOR MANUAL MODE
            #ExposureMode = "Manual";
            #ExposureValue = "5000";
            GainMode = "Manual";
            GainValue = "8";
            
            # FOR AUTO MODE
            ExposureMode = "Auto";
            ExposureAutoAlg = "Mean"; 
            ExposureAutoMax = "1000"; 
            ExposureAutoMin = "8"; #default value
            ExposureAutoRate = "90"; #pct of max speed
            ExposureAutoTarget = "30";
            #GainMode = "Auto";
            #GainAutoAlg = "Mean"; #USE Default
            #GainAutoMax = "25";
            #GainAutoMin = "0";
            #GainAutoRate = "100"; #USE Default		

	        PixelFormat = "Bayer16";
            PacketSize = "8228";
            MulticastEnable = "Off";

        }

        Calib {
            #matlab_calib_file = "foo.m";
            width = 1360;
            height = 1024;
            pinhole = [ 1705.093198218658472, 1711.120531258230358, 0.000000000000000, 657.099820257170677, 534.603434238885598 ]; # [fx fy skew uo vo]
            distortion_model = "radial";
            distortion_coeffs = [ 0.032301519492003, 0.234757273663815, 0.006145448313571, 0.004743213376114, 0.000000000000000 ]; # [kr1 kr2 kt1 kt2 kr3]
        }
    } #cam1

    cam2 {
        uid = 124631; # iverACFR GC1380M (monochrome)
        channel = "PROSILICA_AM16";
        #attfile = "../config/prosilica/attfile.txt";
        PvAttributes {
            FrameRate = "4.0";
            #FrameStartTriggerMode = "FixedRate";
            FrameStartTriggerMode = "SyncIn2";
	        FrameStartTriggerDelay = "4000";            
	        # FOR MANUAL MODE
            #ExposureMode = "Manual";
            #ExposureValue = "1000";
            GainMode = "Manual";
            GainValue = "0";
            
            # FOR AUTO MODE
            ExposureMode = "Auto";
            ExposureAutoAlg = "Mean"; 
            ExposureAutoMax = "1000";
            ExposureAutoMin = "8"; #default value
            ExposureAutoRate = "90"; #pct of max speed
            ExposureAutoTarget = "30";
            #GainMode = "Auto";
            #GainAutoAlg = "Mean"; #Use defualt
            #GainAutoMax = "25";
            #GainAutoMin = "0";
            #GainAutoRate = "100"; #Use default		
            
             PacketSize = "8228";
             MulticastEnable = "Off";
             PixelFormat = "Mono16";
             
             # For fixed strobe length
             Strobe1ControlledDuration = "On";
             Strobe1Duration = "10000";
             Strobe1Mode = "FrameTrigger";
             SyncOut1Mode = "Strobe1";
             # For strobe length set off of cam2 (mono)
             #SyncOut1Mode = "Exposing";
             
             # Trigger cam1 color 
             SyncOut2Mode = "Exposing";

        }
    } #cam2

} #cameras


remote-helm {
    os-conduit-acfr {
        gsd {
            io = "serial";
#            device = "/dev/ttyS12";
            device = "/dev/ttyVM0";
            baud = 19200;
            parity = "8N1";
            channel = "OS_CONDUIT";
        }
        dvl_timeout = 10;
    } #os-conduit
}

nav {
	acfr-nav {
		# SLAM config files
		slamConfig = "/home/auv/perls/config/slam_iver.cfg";
		slamMag = "/home/auv/perls/config/slam_mag.cfg";
		# the options for rph are os, hmr3600, ms-gx1
		#rph = "os";
		rph = "hmr3600";
		# sendNav options are true and false
		sendNav = "true";
		# updateRate options are 1, 5, 10 and 100 Hz
		updateRate = 10;
		# OS motor speeds file
		motorSpeeds = "/home/auv/perls/config/speeds.cfg";
		motorSpeedNumber = 1;
		# save the covariance as we go
		saveCov = "false";
        # OPOS messge send rate, options are 1, 5, 10, 100 Hz
        oposRate = 10;
	} #acfr-slam
    
    acfr-nav-new
    {
        slam_config = "/home/auv/git/acfr_lcm/config/slam_iver.cfg";
        attitude_source = "OS";
        depth_source = "YSI";
    }
}

acfr {
    cam-trigger {
        device = "/dev/ttyUSB0";
        baud = 115200;
        parity = "8N1";
        pulseWidthUs = 5000;
        strobeDelayUs = 0;
        frequency = 4;
    }

    cam-uvc {
        gsd {
            io = "serial";
            device = "/dev/ttyVM1";
            baud = 19200;
            parity = "8N1";
            channel = "CAM_UVC";
        }
    }
    
    rc
    {
        motor_device = "/dev/ttyS6";
        motor_baud = 9600;
        motor_parity = "8N1";
        
        fins_device = "/dev/ttyS7";
        fins_baud = 9600;
        fins_parity = "8N1";
        
        control_port = "9001";
        motor_tcp_port = "9002";
        fins_tcp_port = "9003";
    }
    
    iver-rc
    {
        control_port = "9001";
    }

    iver-motors
    {    
        motor_device = "/dev/ttyS6";
        motor_baud = 9600;
        motor_parity = "8N1";
        
        servo_device = "/dev/ttyS7";
        servo_baud = 9600;
        servo_parity = "8N1";
    }
    
    auv-control
    {
        velocity
        {
            kp = 18000;
            ki = 400;
            kd = 0.0;
            sat = 1500;
        }
        
        roll
        {
            kp = 0.01;
            ki = 1.0;
            kd = 0.0;
            sat = 10.0;
        }
        
        depth
        {
            kp = -0.5;
            ki = 0.0;
            kd = -0.05;
            sat = 0.8;
        }
        
        pitch
        {
            kp = -1.0;
            ki = 0.0;
            kd = -0.001;
            sat = 0.4;
        }

        altitude
        {
            kp = 1.0;
            ki = 0.0;
            kd = 0.0;
            sat = 10.0;
        }

        heading
        {
            kp = -1.5;
            ki = 0.0;
            kd = 0;
            sat = 0.4;
        }
        pitch_max = 0.34;
        plane_rudder_max = 0.4;
        main_rpm_max = 1500;
        roll_offset_max = 0.1;


    }
    
    local-planner
    {

        turning_radius = 5.0;
        maximum_pitch = 0.4;

        velocity_change_distance = 3;
        default_leg_velocity = 1.0;

        look_ahead_velocity_scale = 0;        
        max_dist_from_line = 1;
        max_angle_from_line = 0.4;
    }
        
}

site {
    salinity = 0;
}
