sensors {   
    
    rdi {
        gsd {
            io = "serial";
            device = "/dev/ttyCTI14";
            baud   = 9600;
            parity = "8N1";
            channel = "RDI";
        }
	mode = "PD5";
	pd5_count_max = 5;
	pd0_count_max = 0;
	range = 50; # max range for dvl in (m)

    } #rdi
    
    tcm {
        
            io = "serial";
            serial_dev = "/dev/ttyCTI15";
            baud = 38400;
            parity = "8N1";
    }

    kvh1750 {
                device = "/dev/ttyCTI12";
                baud = 921600;
                sample_rate = 1000;
        }
    
    aanderaa-4319 {
        
            io = "serial";
            serial_dev = "/dev/ttyCTI8";
            baud = 9600;
            parity = "8N1";
    }

    evologics-modem {
        vehicle_name = "NGA";
        logging_level = 2;
	device = "/dev/ttyCTI0";
	baud = 19200;
	parity = "8N1";
        ping_period = -1;
        ping_timeout = 20;
        gain = 0;
        source_level = 3;
        auto_gain = "false";
        targets = [5];
        target_names = ["NGA"];
        sound_speed= 1500;
        usbl_address = 1;
	has_ahrs = "false";
    }

    
    acfr-psu {
       io = "serial";
       serial_dev = "/dev/ttyCTI11";
       baud = 57600;
       parity = "8N1";
       addrs = [3, 1, 2];
	}

    os-power-system {
	num_devs = 2;
	io = "socket";
	ip = "172.16.154.81";
	ports = ["4000", "4001"];
    }
   
    parosci
    {
        gsd
        {
            io = "serial";
            device = "/dev/ttyCTI9";
            baud   = 9600;
            parity = "8N1";
            channel = "PAROSCI";
        }
    }
	 
}

acfr {
    cam-trigger {
        device = "/dev/ttyCTI5";
        baud = 115200;
        parity = "8N1";
        pulseWidthUs = 1000;
        strobeDelayUs = 0;
        frequency = 2;
    }
    
    
    tunnel-thrusters 
    {  
       io = "serial";
       serial_dev = "/dev/ttyCTI7";
       baud = 230400;
       parity = "8N1";
       addrs = [3, 2];
    }

    bluefin-tail {
       io = "serial";
       serial_dev = "/dev/ttyCTI4";
       baud = 115200;
       parity = "8N1";
       max_rpm = 300;
    }   

    spektrum-control {
    	control_port = 9001;
	channels = 6;
    }


    auv-control-nga
    {
        velocity
        {
            kp = 1500;
            ki = 50;
            kd = 0.0;
           sat = 1500;
           # sat = 0;
        }
        
	# TODO: we should change this to only use integral.
	# We cannot compensate for the dynamic roll and 
	#    should aim to just have an integral instead.
        roll
        {
            kp = 0.0; #0.5;
            ki = 0.0; #0.0;
            kd = 0.0; #0.0;
            sat = 0.0; #0.1;
        }
        # Control parameters for depth control (sets pitch setpoint) 
        depth
        {
            kp = 0.5;
            ki = 0.00;
            kd = 0.15;
            sat = 0.3;
        }
       
        # Control parameters for pitch control (sets pitch planes) 
        pitch
        {
            # SBW Disabled pitch control at Lizard Island for surface only operation
            kp = -1.35;
            ki = -0.05;
            kd = 0.0;
            sat = 0.4;
            #kp = 0.0;
            #ki = 0.0;
            #kd = 0.0;
            #sat = 0.3;
        }
	pitch_r
	{

	    kp = 0.0;
	    ki = 0.0;
	    kd = 0.0;
	    sat = 0.6;
	}

        altitude
        {
            kp = 1.0;
            ki = 0.0;
            kd = 0.0;
            sat = 10.0;
        }

        heading
        {
            kp = 2.0;
            ki = 0.000;
            kd = 0.00;
            sat = 0.6;
        }

	tunnel_depth
	{
            kp = 0.1;
            ki = 0.0;
            kd = 0.0;
            sat = 0.1;
	}

	tunnel_descent
	{
            kp = 1.0;
            ki = 0.0;
            kd = 0.0;
            sat = 10.0;
	}

	tunnel_pitch
	{
            kp = 1.0;
            ki = 0.0;
            kd = 0.0;
            sat = 10.0;
	}

        pitch_max = 0.34;
        plane_rudder_max = 0.4;
        main_rpm_max = 1500;
        roll_offset_max = 0.2;

    }

}

vimba {
    cam1 {
        uid = "02-2613A-07659"; 
        channel = "AVTCAM_FC16";
        mac = "000F31025FA6";
	publish = "false"; # don't push the images onto LCM
        scale = 1;
        features {

            PixelFormat = "BayerGR12";
            GevSCPSPacketSize = 9014;
            StreamBytesPerSecond = "124000000";
	    PtpMode = "Slave";

            #AcquisitionFrameCount = 1;
            #AcquisitionMode = "Continuous";
            #AcquisitionFrameRateAbs = 1.0;

            TriggerActivation = "RisingEdge";
            TriggerSource = "Line2";
            TriggerSelector = "FrameStart";
            TriggerDelayAbs = 2000.0;
            TriggerMode = "On";
            TriggerOverlap = "Off";

            ExposureAuto = "Continuous";
            ExposureAutoAlg = "Mean"; 
            ExposureAutoMax = 6000; 
            ExposureAutoMin = 100;
            ExposureAutoTarget = 20;


            GainAuto = "Off";
            GainAutoMax = 27;
            GainAutoMin = 0;
            GainRaw = 0;


        }
    } #cam1

    cam2 {
        uid = "02-2613A-07660"; # Sirius GC1380M (monochrome)
        channel = "AVTCAM_AC16";
        mac = "000F31025FA7";
	publish = "false"; # don't push the images onto LCM
        scale = 1;
        features {
            PixelFormat = "BayerGR12";
            GevSCPSPacketSize = 9014;
            StreamBytesPerSecond = "124000000";
	    PtpMode = "Slave";

            #AcquisitionFrameCount = 1;
            #AcquisitionMode = "Continuous";
            #AcquisitionFrameRateAbs = 1.0;

            TriggerActivation = "RisingEdge";
            TriggerSource = "Line2"; #"FixedRate";
            TriggerSelector = "FrameStart";
            TriggerDelayAbs = 2000.0;
            TriggerMode = "On";
            TriggerOverlap = "Off";

            ExposureAuto = "Continuous";
            ExposureAutoAlg = "Mean"; 
            ExposureAutoMax = "6000"; 
            ExposureAutoMin = "100";
            ExposureAutoTarget = "20";

            GainAuto = "Off";
            GainAutoMax = 30;
            GainAutoMin = 0;
            GainRaw = 0;

        }

    } #cam2

} #cameras

